:root {
  font-size: 16px;
  font-family: "Franklin Gothic Medium";
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  height: 0.25rem;
  border-left: ridge 1px #8a7db1;
}

body::-webkit-scrollbar-thumb {
  background: #1e1e1e;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}
